<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Chapter Pages</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <div class="container mx-auto py-8 px-4">

        <h1 class="text-3xl font-semibold mb-4">Chapter Title: <%= name %>
        </h1>
        <h2 class="text-xl mb-4">Pages:</h2>

        <ul id="pagesList" class="space-y-4">
            <% page.forEach((p)=> { %>
                <li>
                    <div class="flex items-center py-2 px-4 bg-white rounded-lg shadow-md hover:bg-purple-50">
                        <form action="/viewPage" method="get">
                            <input type="hidden" id="head" name="head" value="<%= p.head %>">
                            <input type="hidden" id="body" name="body" value="<%= p.body %>">
                            <button type="submit" class="text-blue-500 hover:text-blue-700">
                                <%= p.head %>
                            </button>
                        </form>
                    </div>
                </li>
                <% }); %>
        </ul>

        <div class="mt-8">
            <form action="/designPage/" method="get">
                <input type="hidden" name="title" value="<%= name %>">
                <input type="hidden" name="courseId" value="<%= courseId %>">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Add a Page
                </button>
            </form>
        </div>

    </div>

</body>

</html>